NEXT_PUBLIC_APP_URL="http://localhost:3000"

DATABASE_URL="postgresql://USERNAME:PASSWORD@HOST:PORT/DATABASE_NAME"

JWT_SECRET="your-jwt-secret"

ADMIN_EMAIL="admin@example.com"
ADMIN_PASSWORD="your-admin-password"
CUSTOMER_EMAIL="guest@example.com"
CUSTOMER_PASSWORD="your-customer-password"
CUSTOMER_NAME="Guest User"
CUSTOMER_PHONE="+976 99112233"
